/* src/ui/components/Spinner.module.css */

.spinnerContainer {
  /* Занимает все пространство родителя */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Центрирует спиннер внутри */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Легкий фон, чтобы скрыть "дергание" под ним */
  background-color: #242424; /* Такой же, как фон body */
  z-index: 10;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Светло-серый ободок */
  border-top: 5px solid #3498db; /* Синий цвет для "движущейся" части */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Анимация вращения */
}

/* Анимация вращения */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
